.app {
    position: relative;
}

.background {
    border-spacing: 0px;
}

.player {
    position: absolute;
    background-color: lightgray;
}

.space {
    padding: 0px;
    background-color: black;
}

.block {
    padding: 0px;
    background-color: gray;
}
