.app {
    position: relative;
}

.background {
    border-spacing: 0px;
}

.player {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: lightgray;
}

.space {
    width: 20px;
    height: 20px;
    padding: 0px;
    background-color: black;
}

.block {
    width: 20px;
    height: 20px;
    padding: 0px;
    background-color: gray;
}
